/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 0px solid $white;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $white;
  border-bottom: 0px solid $white; 
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 0px solid $white;
}

td {
  padding: 0.5em;
  border-bottom: 0px solid $white;
  border-right: 0px solid $white;
}

tr, td, th {
  vertical-align: middle;
}
